:root {
  --primary-title-color: #212121;
  --secondary-title-color: #ffffff;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --background-primary-color: #2f303a;
  --background-secondary-color: #e5e5e5;
  --background-third-color: #f5f4fa;
}
